.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.collumn-1 {
  border: 1px solid #dadde1;
  color: red;
  border-radius: 5px;
}

.collumn-2 {
  border: 1px solid #dadde1;
  border-radius: 5px;
}
