.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#search-button {
  max-width: 100px;
}

#current-button {
  max-width: 100px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
