.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.col-md-8 {
  border: 1px solid #dadde1;
  color: red;
  border-radius: 5px;
}

.col-md-4 {
  border: 1px solid #dadde1;
  border-radius: 5px;
}
