.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  padding: 20px;
  box-shadow: rgb(135, 135, 135);
  background-image: #ffffff;
  border-radius: 25px;
  border: 3px solid #37ecba;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #37ecba;
  padding-top: 20px;
  padding-right: 20px;
}

#search-form {
  padding-right: 20px;
}

#city-input {
  width: 100%;
}

#search-button {
  margin-left: 5px;
  background-color: #c9d6ff;
  border: 1px solid #c9d6ff;
  color: #ffffff;
}

#search-button:hover {
  margin-left: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #c9d6ff;
}

#current-button {
  margin-left: 10px;
  background-color: #c9d6ff;
  border: 1px solid #c9d6ff;
  color: #ffffff;
}

#current-button:hover {
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #c9d6ff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.city-name {
  font-size: 40px;
  font-weight: 700;
  color: #37ecba;
}

.forecast-title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.forecast {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  text-align: center;
}

#country-name {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}

#min-max-temp {
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
}

.copyright {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  line-height: 20px;
}

.specifics-values {
  color: #37ecba;
}
