.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  position: relative;
  z-index: 9;
  background: #056676;
  max-width: 900px;
  border-radius: 25px 20px 20px 25px;
  padding: 20px 20px 20px 20px;
  margin: 30px auto;
  box-shadow: 10px 10px 19px -8px rgba(0, 0, 0, 0.75);
}

.app::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  background: #f6f5f5;
  border-radius: 20px 0px 0px 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #056676;
  padding-top: 20px;
  padding-right: 20px;
}

#search-form {
  padding-right: 20px;
}

#search-button {
  margin-left: 5px;
  padding-right: 10px;
  width: 100px;
  background-color: #5eaaa8;
  border: none;
  color: #ffffff;
}

#search-button:hover {
  background-color: #ffffff;
  border: 1px solid #5eaaa8;
  color: #5eaaa8;
}

#current-button {
  margin-left: 10px;
  padding-right: 10px;
  width: 100px;
  background-color: #5eaaa8;
  border: none;
  color: #ffffff;
}

#current-button:hover {
  background-color: #ffffff;
  border: 1px solid #5eaaa8;
  color: #5eaaa8;
}

.left-title {
  font-size: 25px;
  font-weight: 700;
  color: #5eaaa8;
  padding-top: 10px;
}

.row1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
}

.weekday {
  font-size: 14px;
  font-weight: normal;
}

table {
  text-align: center;
}
td {
  font-size: 14px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.today-title {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

#city {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

#temperature {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  line-height: 100px;
}

#button-fahren {
  font-size: 15px;
  font-weight: 200px;
  color: #ffffff;
}

#button-celsius {
  font-size: 15px;
  font-weight: 200px;
  color: #ffffff;
}

#last-updated {
  font-size: 10px;
  font-weight: 100px;
  color: #ffffff;
}

#date {
  font-size: 10px;
  color: #ffffff;
}

.extra-info {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  line-height: 40px;
}

.forecast-title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.forecast {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  line-height: 20px;
}

.specifics-values {
  color: #ffffff;
  font-size: 13px;
  line-height: 9px;
}

#min-temp {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

#max-temp {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

/* .weather-overview img {
  margin-right: 10px;
  max-width: 80px;
} */

.weather-overview .units {
  position: relative;
  font-size: 16px;
  top: -16px;
  margin-left: 10px;
}

.weather-overview .active {
  color: #ffffff;
  cursor: default;
}

.weather-overview .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h4 {
  color: rgb(186, 186, 186);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  white-space: nowrap;
}
