.wrapper {
  max-width: 900px;
  margin: 20px auto;
}

.app {
  position: relative;
  z-index: 9;
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 900px;
  height: 500px;
  border: 100px;
  border-color: rgb(135, 135, 135);
  border-radius: 25px 20px 20px 25px;
  padding: 20px 20px 20px 20px;
  margin: 30px auto;
  box-shadow: 10px 10px 19px -8px rgba(0, 0, 0, 0.75);
}

.app::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  background: #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #5642d0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#search-form {
  padding-right: 20px;
}

#search-button {
  margin-left: 5px;
  padding-right: 10px;
  width: 100px;
  background-color: #6351da;
  border: none;
  color: #ffffff;
}

#search-button:hover {
  background-color: #ffffff;
  border: 1px solid #6351da;
  color: #6351da;
}

#current-button {
  margin-left: 10px;
  padding-right: 10px;
  width: 100px;
  background-color: #6351da;
  border: none;
  color: #ffffff;
}

#current-button:hover {
  background-color: #ffffff;
  border: 1px solid #6351da;
  color: #6351da;
}

.left-title {
  font-size: 22px;
  line-height: 62px;
  margin-top: -24px;
  font-weight: 700;
  color: #6f5ee4;
  padding-top: 10px;
}

#forecast {
  background-color: #fcfcfc;
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 1px;
  box-shadow: 10px 10px 19px -20px rgba(0, 0, 0, 0.75);
}

#forecast:hover {
  background-color: #f9f9f9;
  padding: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin: 1px;
  cursor: pointer;
  box-shadow: 10px 10px 19px -20px rgba(0, 0, 0, 0.75);
}

#current-weather-description {
  margin-left: 17px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.today-title {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

#city {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 10px;
}

#last-updated {
  font-size: 10px;
  font-weight: 700px;
  color: #ffffff;
}

#date {
  font-size: 10px;
  font-weight: 100px;
  color: #ffffff;
}

#temperature {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  line-height: 100px;
}

.extra-info {
  margin-left: 18px;
}

.extrainfo {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  line-height: 20px;
  margin-top: -20px;
}

.forecast-title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.forecast {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  line-height: 20px;
}

.specifics-values {
  color: #ffffff;
  font-size: 13px;
  line-height: 9px;
}

#description {
  text-transform: capitalize;
}

#min-temp {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

#max-temp {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

.weather-overview img {
  max-width: 100px;
  margin-top: -21px;
}

.weather-overview .units {
  position: relative;
  font-size: 16px;
  top: -16px;
  margin-left: 10px;
}

.weather-overview .active {
  color: #ffffff;
  cursor: default;
}

.weather-overview .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 5px;
}

.weather-forecast h4 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 12px;
  font-weight: 400;
  height: auto;
  white-space: nowrap;
}
